body{
	background-color: lightpink;
}
h1{
	text-transform: capitalize;
    font-family: "Orbitron", sans-serif;
	font-size: 50px;
	color: white;
   text-shadow: 5px 5px 5px darkgoldenrod;
	
}
h1:hover{
	color: blueviolet;
}
h3{
	 font-family: "Orbitron", sans-serif;
}

p{
	 font-family: "Orbitron", sans-serif;
	 color: darkpurple;
}

li{
	font-family: "Orbitron", sans-serif;
	 color: whitesmoke;
	 text-shadow: 5px 5px 5px darkgoldenrod;
	
}

li:hover{
	color: blueviolet;

}
